APP_NAME="resume-interview"
APP_ENV="local"
APP_HOST="0.0.0.0"
APP_PORT="8000"
APP_LOG_LEVEL="INFO"
APP_CORS_ORIGINS="http://localhost:3000"

MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_DB="resume_interview"
MYSQL_USER="root"
MYSQL_PASSWORD=""

DATABASE_URL="mysql+aiomysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB}?charset=utf8mb4"

DEEPSEEK_API_KEY=""
DEEPSEEK_BASE_URL=""
DEEPSEEK_MODEL="deepseek-chat"
LLM_TIMEOUT_SECONDS="60"
LLM_MAX_RETRIES="2"

RESUME_MAX_MB="10"
RESUME_STORAGE_MODE="db_text"
RESUME_LOCAL_DIR="./.data/resumes"

SECRET_KEY=""
REQUEST_ID_HEADER="X-Request-ID"
